<div>
  <h2 id="page-heading" data-cy="AppointmentHeading">
    <span jhiTranslate="bankAdviceSystemApp.appointment.home.title">Appointments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bankAdviceSystemApp.appointment.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-appointment"
        [routerLink]="['/appointment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bankAdviceSystemApp.appointment.home.createLabel"> Create a new Appointment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appointments?.length === 0">
    <span jhiTranslate="bankAdviceSystemApp.appointment.home.notFound">No appointments found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="appointments && appointments.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="created">
            <span jhiTranslate="bankAdviceSystemApp.appointment.created">Created</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="appointementDate">
            <span jhiTranslate="bankAdviceSystemApp.appointment.appointementDate">Appointement Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="bankAdviceSystemApp.appointment.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="bankAdviceSystemApp.appointment.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="bankAdviceSystemApp.appointment.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bankAdviceSystemApp.appointment.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="status">
            <span jhiTranslate="bankAdviceSystemApp.appointment.status">Status</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="statusChangeDate">
            <span jhiTranslate="bankAdviceSystemApp.appointment.statusChangeDate">Status Change Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commentary">
            <span jhiTranslate="bankAdviceSystemApp.appointment.commentary">Commentary</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="manager.id">
            <span jhiTranslate="bankAdviceSystemApp.appointment.manager">Manager</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="advisor.id">
            <span jhiTranslate="bankAdviceSystemApp.appointment.advisor">Advisor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/appointment', appointment.id, 'view']">{{ appointment.id }}</a>
          </td>
          <td>{{ appointment.created | formatMediumDatetime }}</td>
          <td>{{ appointment.appointementDate | formatMediumDate }}</td>
          <td>{{ appointment.startDate | formatMediumDatetime }}</td>
          <td>{{ appointment.endDate | formatMediumDatetime }}</td>
          <td>{{ appointment.title }}</td>
          <td>{{ appointment.description }}</td>
          <td jhiTranslate="{{ 'bankAdviceSystemApp.Status.' + appointment.status }}">{{ appointment.status }}</td>
          <td>{{ appointment.statusChangeDate | formatMediumDatetime }}</td>
          <td>{{ appointment.commentary }}</td>
          <td>
            <div *ngIf="appointment.manager">
              <a [routerLink]="['/manager', appointment.manager?.id, 'view']">{{ appointment.manager?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="appointment.advisor">
              <a [routerLink]="['/advisor', appointment.advisor?.id, 'view']">{{ appointment.advisor?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/appointment', appointment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/appointment', appointment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(appointment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="appointments && appointments.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
